.page {
  min-width: 320px;
  max-width: 1184px;
  width: 100vw;
  min-height: 100%;
  margin: 0 auto;
  padding: 28px 0 24px;
  background-color: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
}