.cover__wrap {
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  cursor: pointer;
}


/* @media screen and (max-width: 768px) {
  .cover__wrap {
    margin: 33px auto;
    width: 288px;
  }
} */