.cover__wrap {
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cover__wrap {
    gap: 16px;
  }
}