.content__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "title url" "img text";
  grid-template-columns: 47% 48%;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.content__list:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content__list {
    grid-template-columns: 47.5% 50%;
    gap: 48px 32px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content__list {
    grid-template-columns: 47% 50%;
    gap: 46px 30px;
    margin-bottom: 74px;
  }
}

@media (max-width: 767px) {
  .content__list {
    gap: 32px;
    grid-template-areas: "title" "url" "img" "text";
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
}