.header {
  padding-bottom: 55px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    width: calc(100% - 9.375%);
    padding-bottom: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    width: calc(100% - 6.25%);
    padding-bottom: 48px;
  }
}

@media (max-width: 768px) {
  .header {
    width: calc(100% - 10%);
    padding-bottom: 50px;
  }
}