.content {
  margin: 0 auto;
  padding-bottom: 92px;
  width: calc(100% - 100px - 100px);
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content {
    width: calc(100% - 9.375%);
  }
}


/* @media (min-width: 768px) and (max-width: 1024px) {
  .content {
    padding: 0 48px 92px 48px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .content {
    padding: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding: 0 0 88px 0;
  }
} */