.info__subtitle {
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  margin: 0;
}


/* @media (min-width: 425px) and (max-width: 768px) {
  .info__subtitle {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 425px) {
  .info__subtitle {
    font-size: 32px;
    line-height: 35px;
  }
} */