.info__title {
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 102px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 45px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .info__title {
    padding-bottom: 28px;
  }
}


/* @media (min-width: 768px) and (max-width: 1024px) {
  .info__title {
    margin-bottom: 32px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .info__title {
    margin-bottom: 32px;
    font-size: 55px;
    line-height: 59px;
  }
}

@media screen and (max-width: 425px) {
  .info__title {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 44px;
  }
} */