.cover {
  margin: 0 auto;
  background: url("../../images/cover-trains.jpg");
  background-size: 100% auto;
  position: relative;
  width: 100%;
  max-height: 740px;
  height: 62.5vw;
  overflow: hidden;
}

.cover::after {
  content: "";
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cover:hover::after {
  opacity: 0.6;
}