.cover {
  background: url("../../images/cover-trains.jpg");
  background-size: cover;
  position: relative;
  height: 100vw;
  max-height: 740px;
  max-width: 1184px;
  width: 100vw;
  margin: 0 auto;
}

.cover::after {
  content: "";
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.cover:hover::after {
  opacity: 0.6;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    max-height: 640px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover {
    max-height: 480px;
    padding: 0;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .cover {
    max-height: 266px;
    padding: 0;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    max-height: 200px;
    padding: 0;
  }
}