.info {
  margin: 0 auto;
  padding-bottom: 92px;
  width: calc(100% - 100px - 100px);
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .info {
    width: calc(100% - 9.375%);
  }
}

@media (max-width: 1023px) {
  .info {
    padding-bottom: 87px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .info {
    padding-bottom: 56px;
  }
}