  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
    gap: 18px;
  }
  
  @media screen and (max-width: 425px) {
    .header__wrap {
      align-items: center;
    }
  }