.content__text {
  grid-area: text;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
  margin: 0;
  margin-bottom: 26px;
}

.content__text:last-child {
  margin-bottom: 0;
}


/* @media (min-width: 425px) and (max-width: 768px) {
  .content__text {
    font-size: 16px;
    line-height: 26px;
  }
} */