.content__text {
  grid-area: text;
  font-size: 18px;
  line-height: 29px;
  text-align: left;
  margin: 0;
  margin-top: 26px;
}

.content__text:first-child {
  margin-top: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .content__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* height: max-content; */
  }
}