.content__img {
  grid-area: img;
  width: 100%;
  max-width: 460px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .content__img {
    max-width: 440px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content__img {
    max-width: 340px;
  }
}

@media screen and (max-width: 768px) {
  .content__img {
    margin: 0 auto;
  }
}