.info__wrap {
  width: 690px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .info__wrap {
    margin-left: 3.125%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .info__wrap {
    width: calc(100% - 10%);
    margin: 0 auto;
  }
}