.menu__links {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .menu__links {
    font-size: 24px;
    line-height: 24px;
  }
}