.info__sign {
  text-transform: uppercase;
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-align: left;
  margin-bottom: 92px;
}

@media (max-width: 1023px) {
  .info__sign {
    margin-left: 3.125%;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .info__sign {
    margin-left: 5%;
    margin-bottom: 65px;
  }
}